<ul>
        <li>
            <input type="checkbox">clean dishes
            <button>delete</button>
            <button>edit</button>
        </li>
        <li>
            <input type="checkbox">sweep kitchen
            <button>delete</button>
            <button>edit</button>
        </li>
        <li>
            <input type="checkbox">clean bathroom
            <button>delete</button>
            <button>edit</button>
        </li>
    </ul>