@import "tailwindcss";

/* * {
    border: 1px solid green;
} */

input {
    border: 1px solid gray;
    width: 50%;
    padding: 5px;
    border-radius: 30px;
}

button {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 30px;
    font-size: .9rem;
}

.fa {
    color: gray;
}

.fa:hover {
    cursor: pointer;
    color: lightgray;
}

.list-container,
.new-group-container {
    border: 1px solid gray;
}

.selected {
    background-color: yellow;
}